@use '../abstracts/variables' as *;

/*
************
*************************
23. Footer
******************************************************* 
*************************************************************** */

.cinkes_footer_border_bottom {
    border-bottom: 1px solid #2c2a2a;
    padding: 60px 0;
}
.cinkes_footer_widget {
    &:is(.ml-90) {
        @media #{$xs, $sm, $md, $lg} {
            margin-left: 0;
        }
    }
}
.cinkes_footer_top_area {
    background-color: #1a1a1a;
}

.cinkes_footer_social {
    a {
        width: 55px;
        height: 55px;
        background-color: #1a1e1f;
        display: inline-block;
        line-height: 55px;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        &:not(:first-child) {
            margin-left: 15px;
        }
        &:hover {
            background-color: #f94d1c;
        }
    }
}


.cinkes_footer_widget_area {
    background-color: #1a1a1a;
    &:is(.pt-45) {
        @media #{$xs, $md, $lg} {
            padding-top: 30px;
        }
    }
}
.cinkes_footer_copyright_area {
    background-color: #1a1a1a;
    & a {
        &:hover {
            color: #fff;
        }
    }
}

.cinkes_footer_info {
    p {
        color: #b6bfc1;
        line-height: 1.89;
    }
}

.cinkes_footer_newsletter_form {
    position: relative;
    input {
        width: 100%;
        height: 65px;
        line-height: 65px;
        border: 0;
        padding: 0 30px;
        padding-right: 90px;
        border-radius: 5px;
    }
}

.cinkes_newsletter_btn {
    border: 0;
    height: 66px;
    width: 60px;
    color: #fff;
    background-color: #f94d1c;
    position: absolute;
    right: 0;
    border-radius: 0 5px 5px 0;
}
.cinkes_footer_title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
}

.footer_widget_list {
    ul {
        li {
            list-style: none;
            a {
                color: #b6bfc1;
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 15px;
                display: inline-block;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.cinkes_footer_contact-single_title {
    font-size: 16px;
    color: #f94d1c;
    font-weight: 500;
    margin-bottom: 10px;
}

.cinkes_footer_contact_single {
    & > a {
        color: #b6bfc1;
        text-decoration: none;
        font-size: 16px;
        &:hover {
            color: #fff;
        }
    }
    &:not(:last-child) {
        margin-bottom: 35px;
    }
}


.cinkes_copyright_menu {
    @media #{$xs, $md} {
        margin-bottom: 15px;
    }
    ul {
        li {
            list-style: none;
            display: inline-block;
            position: relative;
            a {
                text-decoration: none;
                font-size: 16px;
                color: #b6bfc1;
                &:hover {
                    color: #f94d1c;
                }
            }
            &:not(:first-child) {
                margin-left: 15px;
                padding-left: 20px;
                &:before {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 1px;
                    height: 15px;
                    content: "";
                    background-color: #2c2a2a;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
.cinkes_footer_copyright_area {
    p {
        color: #b6bfc1;
        a {
            text-decoration: none;
            color: #f94d1c;
            font-weight: 700;
        }
    }
}

.footer_widget_list {
    ul {
        li {
            &:last-child {
                a {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.cinkes_footer_logo {
    .footer_logo {
        @media #{$xs} {
            margin-bottom: 30px;
            display: inline-block;
        }
        @media #{$sm} {
            margin-bottom: 0px;
            display: inline-block;
        }
    }
}