
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.d-xs-none{
    display: none !important;
    @media #{$xs} {
        display: none !important;
    }
}

.home-page-header{
    border-radius: 10px;
    max-height: 80px;
}
.page-logo {
    display: inline-block;
    a {
        display: inline-block;
        width: 80px;
        height: 80px;
        border: 2px solid red;
        border-radius: 10%;
        overflow: hidden;
        @media #{$xs} {
            width: 60px;
            height: 60px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        &:hover {
            border-color: red;
        }
    }
}
.page-person-info {
    display: flex;
    align-items: center;
}
.person-name {
    display: inline-block;
    margin-left: 20px;
    @media #{$xs} {
        margin-left: 10px;
    }

    a {
        display: block;
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        color: white;
        @media #{$xs} {
            font-size: 12px;
        }

        i {
            margin-left: 20px;
            display: inline-block;
            font-size: 15px;
            color: green;
            animation: active-icon linear infinite 2s;
            -webkit-animation: active-icon linear infinite 2s;
        }

        &:hover {
            color: red;
        }
    }

        span {
            font-size: 16px;
            display: inherit;
            text-transform: capitalize;
            @media #{$xs} {
                font-size: 10px;
            }

        }
}

@keyframes active-icon {
    0% {
      opacity: .5;
    }
    50% {
        opacity: 1;
      }
    100% {
      opacity: .5;
    }
  }



.page-name {
    h5 {
        color: $white-color;
        margin: 0;
    }
}
.page-hire-btn {

    .hire-me {
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 16px;
        background: red;
        color: #fff;
        padding: 28px 15px;
        border-radius: 10%;
        @include transition(.1s);

        &:hover {
            background-color: white;
            color: red;
        }
    }
}
.home-page-body {
    border-radius: 10px;
    overflow: hidden;
    height: calc(100% + 50px);
}
.body-img-wrapper {
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}
.body-img-wrapper {
    &:hover {
        .body-img-wrapper img {
            filter: grayscale(100%);
        }
    }
}
.body-text-parson-title {
    overflow: hidden;
    @media #{$xs} {
        font-size: 20px;
    }
}
.body-text-parson {

    p {
        color: #ccc;
    }
    h3 {
        color: $white-color;
        @media #{$xs} {
            font-size: 28px;
        }
    }
    
}
.body-text-parson-title {

    h4 {
        text-transform: uppercase;
        color: red;
    }
}

.body-text-btn-wrapper {
    margin-top: 30px;
    margin-bottom: 25px;

    .contact-btn {
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 16px;
        color: white;
        background-color: red;
        padding: 10px 20px;
        border-radius: 5px;
        margin-right: 20px;

        &:hover {
            background-color: white;
            color: red;
        }
    }
    .play-btn {
        font-size: 15px;
        display: inline-block;
        color: red;
        background-color: white;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;

        i {
            display: inline-block;
        }

        &:hover {
            background-color: red;
            color: white;
        }
    }




}

.body-text-social-link {

    span {
        text-transform: capitalize;
        font-size: 14px;
        color: #ccc;
        margin-right: 20px;
        display: inline-block;
    }
    a {
        font-size: 22px;
        display: inline-block;
        margin: 0 5px;
        padding: 2px;
        color: white;
    
        &:hover {
            color: red;
        }
    }
}

.main-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 50px;
    box-shadow: 0px 0px 6px 3px #111;

    ul {
        display: flex;
        justify-content: space-around;
        margin: 0 90px;
        height: 100%;
        align-items: center;
        @media #{$xs} {
            margin: 0 0px;
        }

        li {
            list-style: none;
            a{
                display: inline-block;
                font-size: 20px;
                cursor: pointer;
                border-radius: 50%;
                color: white;
                height: 50px;
                width: 50px;
                line-height: 50px;
                text-align: center;
                @include transition (.1s);
    
                &:hover {
                    background-color: red;
                    color: white;
                }
                &:is(.active) {
                    transform: translateY(-25px);
                    background: red;
                    box-shadow: 0px 0px 4px 8px #111;
                }
            }
        }
    }
    
}
.page-name  {
    h1 {
        color: #fff;
    }
}
.loader-wrapper {
    position: fixed;
    background-color: #000;
    height: 100vh;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader-active {
    display: none;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}